@font-face {
    font-family: 'Pixellet';
    src: url('pixellet.ttf') format('truetype');
}
@font-face {
    font-family: 'TAGameboy';
    src: url('TAGameboy-Regular.ttf') format('truetype');
}